@media screen and (max-width: 450px) {
    .instruction ul {
        width: 90%;
    }

    .instruction ul{
        z-index: 10;
    }

    .instruction ul li {
        font-size: 12px;
        line-height: 1.2rem;
    }

    .from form{
        padding: 1rem;
    }

    .turns{
        top: 1%;
        left: 50%;
        transform: translate(-50%);
    }

    .player-name{
        display: flex;
    }

    .from form input{
        width: 200px;
        padding: 0.5rem 0.3rem;
    }

    .from form input[type = 'submit']{
        width: 150px;
        box-shadow: 2px 2px;
        cursor: pointer;
    }
}